WindowsFormsApp3/WindowsFormsApp3/Connected Services/ServiceReference1/studentDetailsWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://www.howtodoinjava.com/xml/school" xmlns:tns="http://www.howtodoinjava.com/xml/school" targetNamespace="http://www.howtodoinjava.com/xml/school" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.howtodoinjava.com/xml/school" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="StudentDetailsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="StudentDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Student" type="tns:Student" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Student">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="standard" type="xs:int" />
          <xs:element name="address" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="StudentDetailsRequest">
    <wsdl:part name="StudentDetailsRequest" element="tns:StudentDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="StudentDetailsResponse">
    <wsdl:part name="StudentDetailsResponse" element="tns:StudentDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="StudentDetailsPort">
    <wsdl:operation name="StudentDetails">
      <wsdl:input name="StudentDetailsRequest" message="tns:StudentDetailsRequest" />
      <wsdl:output name="StudentDetailsResponse" message="tns:StudentDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentDetailsPortSoap11" type="tns:StudentDetailsPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudentDetails">
      <soap:operation soapAction="" />
      <wsdl:input name="StudentDetailsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StudentDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentDetailsPortService">
    <wsdl:port name="StudentDetailsPortSoap11" binding="tns:StudentDetailsPortSoap11">
      <soap:address location="http://localhost:8080/service/student-details" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>